{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="card">
                    <ol class="breadcrumb card-header">
                        <li class="breadcrumb-item"><a href="{% url 'tema_index' %}">Temas</a></li>
                        <li class="breadcrumb-item active">Adicionar</li>
                    </ol>

                    <div class="card-body">
                        <form method="POST">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <button class="btn btn-info">Adicionar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}