{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="card">
                    <ol class="breadcrumb card-header">
                        <li class="breadcrumb-item"><a href="{% url 'tema_index' %}">Temas</a></li>
                        <li class="breadcrumb-item active">Detalhe</li>
                    </ol>

                    <div class="card-body">
                        <p><b>Tema: </b>{{tema.nome}}</p>
                        <p><b>Valor do Aluguel: </b>R$ {{tema.valorAluguel}}</p>
                        <p><b>Cor de Destaque: </b>{{tema.corDestaque}}</p>

                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Nome</th>
                                    <th>Descrição</th>
                                    <th>Imagem</th>
                                    <th>Ação</th>
                                </tr>
                            </thead>

                            <tbody>
                                {% for item in itens %}
                                <tr>
                                    <th scope="row">{{item.id}}</th>
                                    <td>{{item.nome}}</td>
                                    <td>{{item.descricao}}</td>
                                    {% if item.itemPic %}
                                        <td><a class="btn btn-link" href="{% url 'item_imagem' item.id %}">{{item.itemPic}}</a></td>
                                    {% else %}
                                        <td>Sem imagem cadastrada!</td>
                                    {% endif %}
                                    <td>
                                        <a class="btn btn-dark" href="{% url 'item_editar' item.id %}">Editar</a>
                                        <a class="btn btn-danger" href="javascript:(confirm('Deletar esse registro?') ? window.location.href='#' : false)">Deletar</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                        <p>
                            <a class="btn btn-info" href="{% url 'item_adicionar' tema.id %}">Adicionar Item</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}