{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="card">
                    <ol class="breadcrumb card-header">
                        <li class="breadcrumb-item active">Temas</li>
                    </ol>

                    <div class="card-body">
                        <p>
                            <a class="btn btn-info" href="{% url 'tema_adicionar' %}">Adicionar</a>
                        </p>

                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Nome</th>
                                    <th>Valor Aluguel</th>
                                    <th>Cor Destaque</th>
                                    <th>Ação</th>
                                </tr>
                            </thead>

                            <tbody>
                            {% for tema in temas %}
                                <tr>
                                    <th scope="row">{{tema.id}}</th>
                                    <td>{{tema.nome}}</td>
                                    <td>R$ {{tema.valorAluguel}}</td>
                                    <td>{{tema.corDestaque}}</td>
                                    <td>
                                        <a class="btn btn-dark" href="{% url 'tema_detalhe' tema.id %}">Detalhe</a>
                                        <a class="btn btn-dark" href="{% url 'tema_editar' tema.id %}">Editar</a>
                                        <a class="btn btn-danger" href="javascript:(confirm('Deletar esse registro?') ? window.location.href='{% url 'tema_deletar' tema.id %}' : false)">Deletar</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}