{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="card">
                    <ol class="breadcrumb card-header">
                        <li class="breadcrumb-item active">Temas</li>
                    </ol>

                    <div class="card-body">
                        <p>
                            <a class="btn btn-info" href="#">Adicionar</a>
                        </p>

                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Nome</th>
                                    <th>Valor Aluguel</th>
                                    <th>Cor Destaque</th>
                                    <th>Ação</th>
                                </tr>
                            </thead>

                            <tbody>

                                <tr>
                                    <th scope="row">1</th>
                                    <td>Penadinho</td>
                                    <td>R$ 990.00</td>
                                    <td>Branco</td>
                                    <td>
                                        <a class="btn btn-dark" href="#">Detalhe</a>
                                        <a class="btn btn-dark" href="#">Editar</a>
                                        <a class="btn btn-danger" href="javascript:(confirm('Deletar esse registro?') ? window.location.href='#' : false)">Deletar</a>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}